In [1]:
print('hello world')

hello world

In [2]:
import pandas as pd

df = pd.read_csv('/home/bhanu/ind-covid-data-practise/covid19india.csv')
df = df.drop(columns  = ['Sno', 'Time', 'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured', 'Deaths'])

# correcting time format according to ISO standards
time_format= '%d/%m/%y'
df['Date'] = pd.to_datetime(df['Date'], format=time_format)

In [3]:
df.head()

        Date State/UnionTerritory  Confirmed
0 2020-01-30               Kerala          1
1 2020-01-31               Kerala          1
2 2020-02-01               Kerala          2
3 2020-02-02               Kerala          3
4 2020-02-03               Kerala          3

In [4]:
df.tail()

          Date State/UnionTerritory  Confirmed
673 2020-04-05           Tamil Nadu        485
674 2020-04-05            Telengana        269
675 2020-04-05          Uttarakhand         22
676 2020-04-05        Uttar Pradesh        227
677 2020-04-05          West Bengal         69

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  678 non-null    datetime64[ns]
 1   State/UnionTerritory  678 non-null    object
 2   Confirmed             678 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 16.0+ KB

In [6]:
df.columns

Index(['Date', 'State/UnionTerritory', 'Confirmed'], dtype='object')